@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  overflow-x: hidden;
  background-color: #000;
}

.bg-prime {
  background: linear-gradient(90deg,
      rgba(245, 9, 11, 1) 0%,
      rgba(255, 45, 75, 1) 100%);
}

.bg-second {
  background: linear-gradient(0deg,
      rgba(245, 9, 11, 1) 0%,
      rgba(255, 45, 75, 1) 100%);
}

/* service slider start */

.servicesConcept .slick-prev {
  left: -22px;
  top: 103%;
}

.servicesConcept .slick-prev:before {
  content: url(../../public/icons/arrow-left.png);
}

.servicesConcept .slick-next:before {
  content: url(../../public/icons/arrow-right.png);
}

.servicesConcept .slick-next {
  right: 115px;
  top: 105%;
  bottom: inherit;
}

/* testi slider start */

.testiSlider .slick-prev {
  left: -255px;
  top: 35%;
}

.testiSlider .slick-prev:before {
  content: url(../../public/icons/arrow-left.png);
}

.testiSlider .slick-next {
  right: -155px;
  top: 35%;
}

.testiSlider .slick-next:before {
  content: url(../../public/icons/arrow-right.png);
}


/* Media Query Start */

@media only screen and (max-width: 991px) {
  .servicesConcept .slick-next {
    right: 50px;
  }

  .servicesConcept .slick-prev {
    top: 106%;
  }
}

/* Media Query End */